# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Dell\OneDrive\Desktop\2019-2023\LHD Build\SimpleChess_GamePYTHON\chess game simple\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
